body{
    background-image: url(drug.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: aquamarine;
    font-size: 40px;
    text-align: center;
}

a:hover{
    box-shadow:  5px 5px 10px 10px aqua;
    }
h2{
    color: white;
    font-size: 40px;
    text-align: center;
}
    
    h3{
        color:white;
        font-size: 38px;
        text-align: center;
    }

    a{
        text-decoration: none;
        padding: 20px;
        margin: 10px;
        text-align: left;
        color:white;
        height:10px;
        border-radius: 20px;;
    }

    .line{
        color:orange;
        font-size: 25px;
        margin-right: 250px;
        margin-top: 100px;
    }

.image{
    float: right;
    margin-left:5px;
    display: block;
    margin-top: 1px;
}