p{
    font-size: 15px;
    margin-right: 650px;
    color: aliceblue;
}

body{
    background-image: url(a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    float: right;
}

h1{
    border: 3px solid beige;
    color:white;
    width: 333px;
}

a{
    text-decoration: none;
    color: black;
    border: 3px solid white;
    font-size: 70px;
    background-color: white;
    border-radius: 7px;
}

a:hover{
    box-shadow: 5px 5px 10px 3px white;
}